APScheduler==3.11.0
beautifulsoup4==4.13.4
fastapi==0.115.12
feedparser==6.0.11
google-genai==1.15.0
httpx==0.28.1
openai~=1.78.0
psycopg2_binary==2.9.10
pydantic==2.11.4
python-dotenv==1.1.0
starlette==0.46.2
uvicorn~=0.34.2
toml==0.10.2
lxml==5.4.0
markdown==3.8.0
resend~=2.10.0
html2text~=2025.4.15
numpy~=2.0.2
hdbscan~=0.8.40
sentence-transformers~=5.1.1
newspaper3k~=0.2.8
readability-lxml~=0.8.4.1
dotenv~=0.9.9